# Result files
*.tsv
*.parquet
*.db
data/*
!data/.gitkeep
logs/*

# Result figures
notebooks/*.png
notebooks/*.svg
results/

# dev / tmp files
dev*
tmp*

# credential file
.env

# Byte-compiled Python files
__pycache__/
*.egg-info

# Jupyter notebook checkpoints
.ipynb_checkpoints

# MAC tmp files
.DS_Store
