name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:

  pre-commit:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Install Python
      run: uv python install
    
    - name: Install python dependencies
      run: uv sync --locked --dev

    - name: Run pre-commit hooks
      run: uv run prek
